---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex flex-col items-center justify-center min-h-[calc(100vh-8rem)] pt-16">
    <h1 class="text-4xl font-bold mb-4">Contact Us</h1>
    <p class="text-lg">You can reach us at <a href="mailto:calyan@meropatra.com" class="text-[#1abc9c] hover:underline">calyan@meropatra.com</a></p>
  </main>
</Layout>