---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="flex flex-col items-center justify-center min-h-[calc(100vh-4rem)] pt-16">
		<h1 class="text-6xl font-bold mb-4">Calyan Studio</h1>
		<p class="text-2xl text-gray-300">web, game, app dev</p>
		<div class="mt-8 text-center">
			<p class="text-lg">We are a passionate team of developers and designers dedicated to creating beautiful and functional digital experiences.</p>
			<p class="text-lg">From stunning websites to engaging mobile games, we bring your ideas to life.</p>
		</div>
	</main>
</Layout>