---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="flex flex-col items-center justify-center text-center min-h-[calc(100vh-8rem)] pt-16">
		<h1 class="text-7xl font-bold mb-4">Calyan Studio</h1>
		<p class="text-3xl text-[#ecf0f1] max-w-3xl mx-auto">We are a passionate team of developers and designers dedicated to creating beautiful and functional digital experiences.</p>
	</main>
</Layout>