<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Calyan Studio</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="bg-gray-900 text-white">
		<nav class="fixed top-0 left-0 right-0 bg-gray-800 p-4 flex gap-4 items-center">
		  <a href="/" class="hover:text-gray-400"><i class="fas fa-home"></i></a>
		  <a href="/about" class="hover:text-gray-400"><i class="fas fa-info-circle"></i> About</a>
		  <a href="/projects" class="hover:text-gray-400"><i class="fas fa-project-diagram"></i> Projects</a>
		  <a href="/contact" class="hover:text-gray-400"><i class="fas fa-envelope"></i> Contact</a>
		</nav>
		<div class="mt-16 p-4">
			<slot />
		</div>
	</body>
</html>
